{% extends 'root.html' %}
{% load static %}
{% block title %}Eventos{% endblock %}
{% block content %}
{% include 'eventos /evento_menu.html' %}
<link rel="stylesheet" href="/static/css/home.css">
<main role="main">
  {% if not eventos and not searchParams.isSearch %}
  <div class="container mb-4">
    <div class="card row container mt-3" style="height: 25vh;">
      <h3 class="text-center" style="margin: auto 0;">No tienes eventos registrados.</h3>
    </div>
  </div>
  {% else %}
  <div class="row mt-3 mb-4">
      <!-- Lista de eventos -->
      {% if eventos|length > 0 %}
      <h1 class="card-title">Eventos</h1>
      {% endif %}
      {% for evento in eventos|dictsort:"fecha_inicio" reversed%}
      <div class="row m3 mt-2">
        <div class="card w-100">
          <div class="card-body">
            <div class="col-md-12 mx-auto">
              <div class="row">
                <h2 class="card-title">{{evento.nombre}} </h2>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-5 mx-auto">
                  <p><b>Proyecto: </b>{{evento.proyecto}}</p>
                  <p><b>Fase: </b>{{recurso.get_fase_display}}</p>
                </div>
                <div class="col-md-7 ">
                  <p><b>Tipo: </b>{{recurso.tipo}}</p>
                </div>
              </div>
              <p>
                <a class="btnn btn-full mt-1 mb-1" href="{% url 'evento' evento.id %}">Detalle</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</main>
{% endblock %}
